.tmp
.idea

node_modules
npm-debug.log

public
dist
tags
coverage

app/config/local.env.js

/logs/

__pycache__
/temp/
/bin/init/data/sct2_*.txt
/bin/init/data/der2_*.txt
/bin/init/data/snomed.tar.xz
